<!DOCTYPE html>
<html>
  <head>
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/static/logo.png" alt="logo" height="24" />
        SmartCar AI
      </div>
      <div class="nav-links">
        <a href="{{ url_for('index') }}">🏠 Anasayfa</a>
        <a href="{{ url_for('login') }}">👤 Login</a>
      </div>
    </nav>

    <div class="container">
      <h2>Kayıt Ol</h2>
      <form method="POST">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" name="username" required />

        <label for="password">Şifre:</label>
        <input type="password" name="password" required />

        <input type="submit" value="Kayıt Ol" />
      </form>

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
  </body>
</html>
